<h2><%= t '.photo_gallery' %></h2>

<h2><%= t '.video_gallery' %></h2>

<h2><%= t '.newspaper' %></h2>

<h2><%= t '.activities' %></h2>

<h2><%= t '.courses' %></h2>

<h2><%= t '.news' %></h2>

<h2>links placeholder</h2>