<%= simple_form_for @post.becomes(Post), :html => { :class => 'form-horizontal' } do |f| %>
  <% f.object = @post.becomes(@post.class)%>
  <%=f.input :name %>
  <%=f.input :type %>
  <%=f.input :location %>
  <%=f.input :publish_date %>
  <%=f.input :content %>


  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")), posts_path, :class => 'btn' %>
  </div>
<% end %>
